body{
    background: linear-gradient(red, blue);

    min-height: 100vh;
}
.albums{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.album{
    background-color: rgb(255, 255, 255, 0.20);
}